
/* .ant-layout-sider {
  background-color: rgb(219, 219, 219) !important;
} */


/* .ant-menu {
  background-color: transparent !important; 
} */

/* .ant-menu-item {
  color: #000 !important;
}


.ant-menu-item:hover {
  background-color: #1890ff !important;
  color: #fff !important;
}


.ant-menu-item-selected {
  background-color: #40a9ff !important;
  color: #fff !important;
}  */
